.contactItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 280px;
  height: 80px;
  border-radius: 8px;
  border: none;
  background-color: rgb(219, 219, 219); 
  box-shadow: 4px 4px 4px rgb(94, 94, 94);
}

.contactList {
  display: flex;
  gap: 14px;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0 auto;
}